# Anonymization 
- pesudoanonymization

In [12]:
import hashlib as hl

string_to_hash = "supersäkert_lösen0rd".encode()
string_to_hash2 = "Supersäkert_lösen0rd".encode()

hl.sha256(string_to_hash).hexdigest(), hl.sha256(string_to_hash2).hexdigest()

('919508f6494495c4bbebc2c87f3dee7b9245bebcd462ec1591fedc5e7fca0386',
 '98b8b43ac8e49f673fd150ebf3d8c39fc4f5a76edfee2b4150a17757d2f58743')

In [13]:
hl.sha256(string_to_hash).hexdigest() == hl.sha256("supersäkert_lösen0rd".encode()).hexdigest()
# both are with same  data

True

In [14]:
hl.sha256(string_to_hash).hexdigest() == hl.sha256("Supersäkert_lösen0rd".encode()).hexdigest()

False

# Example with pandas

In [15]:
import pandas as pd

df = pd.read_csv("../Data/BankChurners.csv", usecols = ["CLIENTNUM", "Attrition_Flag", "Customer_Age", "Gender","Total_Trans_Amt"])
df.head()

   CLIENTNUM     Attrition_Flag  Customer_Age Gender  Total_Trans_Amt
0  768805383  Existing Customer            45      M             1144
1  818770008  Existing Customer            49      F             1291
2  713982108  Existing Customer            51      M             1887
3  769911858  Existing Customer            40      F             1171
4  709106358  Existing Customer            40      M              816

In [16]:
df["CLIENTNUM"]

0        768805383
1        818770008
2        713982108
3        769911858
4        709106358
           ...
10122    772366833
10123    710638233
10124    716506083
10125    717406983
10126    714337233
Name: CLIENTNUM, Length: 10127, dtype: int64

In [17]:
df["CLIENTNUM"] = df["CLIENTNUM"].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CLIENTNUM        10127 non-null  object
 1   Attrition_Flag   10127 non-null  object
 2   Customer_Age     10127 non-null  int64
 3   Gender           10127 non-null  object
 4   Total_Trans_Amt  10127 non-null  int64
dtypes: int64(2), object(3)
memory usage: 395.7+ KB

In [20]:
hash_clientnum= df["CLIENTNUM"].apply(lambda x : hl.sha256(x.encode()).hexdigest())
hash_clientnum

0        c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...
1        7996e2340d70489252370a5df035ec99381c8344cc3511...
2        6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...
3        f86b86a1047317685f29c399059b199858685faf5ec6a8...
4        0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...
                               ...
10122    5d74fc2a096fd2cff997508f7c9113a536baedde263ea6...
10123    3bc4758c36022672c79630afa3a75383a68c424670a890...
10124    c5b0077515f55ffa6eb3d8e36432bbf1e550a835e53193...
10125    c92e42249aeab9893aa98f8ed824361447e005a1805bd8...
10126    fd6700f076addd734bdb51b40adda26805839ccd3e66f6...
Name: CLIENTNUM, Length: 10127, dtype: object

In [21]:
df.insert(1, "Hash_clientnum", hash_clientnum)
df.head()

,CLIENTNUM,Hash_clientnum,Attrition_Flag,Customer_Age,Gender,Total_Trans_Amt
0,768805383,c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...,Existing Customer,45,M,1144
1,818770008,7996e2340d70489252370a5df035ec99381c8344cc3511...,Existing Customer,49,F,1291
2,713982108,6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...,Existing Customer,51,M,1887
3,769911858,f86b86a1047317685f29c399059b199858685faf5ec6a8...,Existing Customer,40,F,1171
4,709106358,0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...,Existing Customer,40,M,816