## 1. Cities in Sweden - create dataset (*)

Create this DataFrame from scratch: 

|    | Kommun    |   Population |
|---:|:----------|-------------:|
|  0 | Malmö     |       347949 |
|  1 | Stockholm |       975551 |
|  2 | Uppsala   |       233839 |
|  3 | Göteborg  |       583056 |



&nbsp; e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city.

&nbsp; a) Use your DataFrame to print out all the cities.

In [2]:
import pandas as pd
kommun = pd.Series({0:"Malmö", 1:"Stockholm", 2:"Uppsala", 3:"Göteborg"})
population = pd.Series({0:347949, 1:975551, 2:233839, 3:583056 })
cities_in_sweden = pd.DataFrame({"Kommun": kommun, "Population":population})

cities_in_sweden

      Kommun  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

In [3]:
import pandas as pd

data = {"Kommun": ["Malmö", "Stockholm", "Uppsala","Göteborg"], "Population": [347949,975551,233839,583056]}
print(data)
cities = pd.DataFrame(data)
cities

{'Kommun': ['Malmö', 'Stockholm', 'Uppsala', 'Göteborg'], 'Population': [347949, 975551, 233839, 583056]}

      Kommun  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

&nbsp; b) Select only the row which contains Göteborg. Do this by using the name Göteborg.

In [4]:
cities_in_sweden.loc[[3]]

     Kommun  Population
3  Göteborg      583056

In [5]:
cities.loc[cities["Kommun"] == "Göteborg"] # using indexer

     Kommun  Population
3  Göteborg      583056

In [6]:
select = cities[cities["Kommun"]== "Göteborg"] # Using masking to filter the DataFrame
select

     Kommun  Population
3  Göteborg      583056

&nbsp; c) Sort the cities by population from largest to smallest.

In [7]:
cities.sort_values(by = "Population", ascending= False)

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949
2    Uppsala      233839

In [8]:
sorted_cities = cities.groupby("Kommun").sort_values(by = "population", ascending= False)

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'